{% extends 'base/layout.html' %}
{% load static %}
{% block content %}



<script>
    const btnParticipar = document.getElementById('ParticiparEvento');
    const inputCantidad = document.getElementById('inputPickup');
    btnParticipar.addEventListener('click', function() {
      const precioParticipacion = parseFloat(btnParticipar.dataset.precio);
    const cantidad = parseInt(inputCantidad.value);
  
      Swal.fire({
        title: '¿Quieres participar?',
        text: `El total a pagar será: ${precioParticipacion*cantidad} nuevos soles.`,
        icon: 'question',
        confirmButtonColor: '#FFB30E',
  cancelButtonColor: '#F17228',
        showCancelButton: true,
        confirmButtonText: 'Sí, participar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          const cantidad = inputCantidad;  
          const usuarioId ={{ user.id }}; 
          const eventoId ={{ evento.id }};  
          enviarRegistro(usuarioId, cantidad, total,eventoId);
        }
      });
    });
  

  
    function enviarRegistro(usuarioId, cantidad,eventoId) {
      alert(usuarioId)
      fetch('api/registrar_ticket/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken') // Asegúrate de tener una función getCookie para obtener el token CSRF
        },
        body: JSON.stringify({
          usuarioId: usuarioId,
          cantidad: cantidad,
          total: total,
          eventoId: eventoId
        })
      })
      .then(response => response.json())
      .then(data => {
        alert(data.message);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>



        

        <!-- <section> close ============================-->
        <!-- ============================================-->
        <section class="pb-5 pt-8">


          <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                    <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm ">Formulario de adopcion general</h5>
                  </div>
              <div class="col-12">
                <div class="card card-span mb-3 shadow-lg">
                  <div class="card-body py-0">
                    <div class="row justify-content-center">
                      <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1">
                        <img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0" src="{% static 'assets/img/gallery/pexels-helena-lopes-1938123.jpg' %}" alt="..." />
                      </div>
                      <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                        <form id="formAdopcion" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                              <input type="hidden" name="id_usuario" value="{{ user.id }}">
                              
                            </div>
                            <div class="mb-3">
                              <label for="mascota" class="form-label">Selecciona la huellita</label>
                              <select class="form-select" id="mascota" name="mascota" required>
                                {% for mascota in mascotas %}
                                  <option value="{{ mascota.id }}">{{ mascota.nombre }} el {{ mascota.especie.nombre|slice:": -1" }}</option>
                                {% endfor %} 
                              </select>
                            </div>
                            {% comment %} <div class="mb-3">
                              <label for="fecha_adopcion" class="form-label">Fecha de Adopción</label>
                              <input type="date" class="form-control" id="fecha_adopcion" name="fecha_adopcion" required>
                            </div> {% endcomment %}
                           
                            <div class="mb-3">
                              <label for="comentarios" class="form-label">Por que quieres adoptar?</label>
                              <textarea class="form-control" id="comentarios" name="comentarios" rows="3"></textarea>
                            </div>
                            <button type="button" id="enviarSolicitudAdopcion" class="btn btn-primary">Enviar</button>
                          </form>
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of .container-->
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <section class="py-0 bg-primary-gradient">

            <div class="container">
              <div class="row justify-content-center g-0">
                <div class="col-xl-9">
                  <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                    <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">Nuestro trabajo</h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-md-3 mb-6">
                      <div class="text-center"><img class="shadow-icon" src="{% static 'assets/img/gallery/location.png' %}"
                          height="112" alt="..." />
                        <h5 class="mt-4 fw-bold">Proceso de Nuevas Llegadas</h5>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                      <div class="text-center"><img class="shadow-icon" src="{% static 'assets/img/gallery/order.png' %}"
                          height="112" alt="..." />
                        <h5 class="mt-4 fw-bold">Dale la Bienvenida a tu Nuevo Miembro de Familia</h5>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                      <div class="text-center"><img class="shadow-icon" src="{% static 'assets/img/gallery/pay.png' %}"
                          height="112" alt="..." />
                        <h5 class="mt-4 fw-bold">Recoleccion de fondos para medicina y alimentos</h5>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                      <div class="text-center"><img class="shadow-icon" src="{% static 'assets/img/gallery/meals.png' %}"
                          height="112" alt="..." />
                        <h5 class="mt-4 fw-bold"> Explora a Nuestros Amigos Peludos</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- end of .container-->
          
          </section>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const formAdopcion = document.getElementById('formAdopcion');
    const enviarSolicitudAdopcion = document.getElementById('enviarSolicitudAdopcion');

    enviarSolicitudAdopcion.addEventListener('click', function() {
        const id_usuario = formAdopcion.querySelector('input[name="id_usuario"]').value;
        const mascota = formAdopcion.querySelector('select[name="mascota"]').value;
        const comentarios = formAdopcion.querySelector('textarea[name="comentarios"]').value;

   

        fetch('/mascota/proceso-adopcion/', {
            method: 'POST',
            body: JSON.stringify({
              id_usuario: id_usuario,
              mascota: mascota,
              comentarios: comentarios,
        }),
            headers: {
              'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            // Verificar si la solicitud fue exitosa
            if (data.message === 'Enviado') {
              // Mostrar Sweet Alert de éxito
              Swal.fire({
                icon: 'success',
                title: 'Solicitud Enviada',
                text: 'Su solicitud de adopción ha sido enviada con éxito.'
              });
            } else if (data.message === 'Ya tienes una solicitud pendiente para esta mascota') {
              // Mostrar Sweet Alert de error
              Swal.fire({
                icon: 'info',
                text: 'Ya tienes una solicitud pendiente para esta mascota.'
              });
            }
        })
        .catch(error => console.error('Error:', error));
    });

    // Función para obtener el valor de una cookie por nombre
  
});


</script>


 
    {% endblock %}