{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Tu fiel compañero(a) te esta esperando</h1>
                  
                      <div class="btn-box">
                        <a href="" class="btn1"> Adopta ya! </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Adoptar no solo cambia la vida</h1>
                   

                      <div class="btn-box">
                        <a href="" class="btn1"> Adopta ya! </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Juntos, podemos hacer una diferencia</h1>
                
                      <div class="btn-box">
                        <a href="" class="btn1"> Adopta ya! </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <ol class="carousel-indicators">
              <li
                data-target="#customCarousel1"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#customCarousel1" data-slide-to="1"></li>
              <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- offer section -->

    <section class="offer_section layout_padding-bottom">
      <div class="offer_container">
        <div class="container"></div>
      </div>
    </section>

    <!-- end offer section -->

    <!-- food section -->

    <section class="food_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Presentacion de mascotas</h2>
        </div>

        <ul class="filters_menu">
          <li class="active" data-filter="*">Todos</li>
          {% for especie in especies %}
          <li data-filter=".{{ especie.nombre }}">{{ especie.nombre }}</li>
          {% endfor %}
        </ul>

        <div class="filters-content">
          <div class="row grid">
            {% for mascota in mascotas %}
            <div class="col-sm-6 col-lg-4 all {{ mascota.especie.nombre }}">
              <div class="box">
                <div class="img-box">
                  {% if mascota.imagen_set.first %}
                  <img
                    src="{{ mascota.imagen_set.first.imagen.url }}"
                    alt="{{ mascota.nombre }}"
                  />
                  {% else %}
                  <!-- Si no hay imagen asociada, puedes mostrar una imagen predeterminada o un mensaje -->
                  <img src="" alt="No hay imagen disponible" />
                  {% endif %}
                </div>
                <div class="detail-box">
                  <h5>{{ mascota.nombre }}</h5>
                  <p>{{ mascota.descripcion }}</p>
                  {% for etiqueta in mascota.etiquetas.all %}
                  <span class="badge badge-secondary"
                    >{{ etiqueta.nombre }}</span
                  >
                  {% endfor %}
                  <div class="options mt-3">
                    <h6>CODIGO: {{ mascota.codigo }}</h6>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button class="btn btn-secondary text-white copy-code-button" title='copiar codigo' data-code="{{ mascota.codigo }}">
                        <i class="bi bi-clipboard-fill"></i></button> 
                      {% if user.is_authenticated %}
                      <button class="btn btn-secondary text-white">
                        <i class="bi bi-eye-fill"></i>
                      </button>
                      {% endif %}
                  
                      <button onclick="likeMascota('{{ mascota.id }}')" type="button" class="btn btn-danger text-white position-relative">
                        <i class="bi bi-suit-heart-fill"></i>
                        <span id='like-{{ mascota.id }}'
                         class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary text-white">
                          {{ mascota.likes }}
                        </span>
                      </button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="btn-box">
          <a href="{% url 'mascotas' %}"> Ver mas </a>
        </div>
      </div>
    </section>

  
  
    <!-- end food section -->

    <!-- about section -->

    <section class="about_section layout_padding"></section>

    <!-- end about section -->

    <!-- book section -->
    <section class="book_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>Agenda tu visita de adopcion</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form_container">
              <form action="">
                DNI
                <div>
                  <input type="text" class="form-control"value="{% if user.is_authenticated %}{{ user.persona.dni }}{% endif %}" placeholder="DNI" />
                </div>
                <div>
                  Nombres completos
                  <input
                    type="text"
                    class="form-control"
                    value="{% if user.is_authenticated %}{{ user.persona.nombre }}{% endif %}"
                    placeholder="Tu nombre"
                  />
                </div>
                <div>
                  Telefono
                  <input
                    type="text"
                    value="{% if user.is_authenticated %}{{ user.persona.telefono }}{% endif %}"
                    class="form-control"
                    placeholder="Telefono"
                  />
                </div>
                
                <div>
                  Correo electronico
                  <input
                  value="{% if user.is_authenticated %}{{ user.persona.email }}{% endif %}"
                    type="email"
                    class="form-control"
                    placeholder="Correo electronico"
                  />
                </div>
                <div>
                  Codigo de mascota
                  <input
                  
                    type="text"
                    class="form-control"
                    placeholder="Ingresa codigo de la mascota"
                  />
                </div>
                <div>
                  fecha de visita
                  <input type="date" class="form-control" />
                </div>
                <div class="btn_box">
                  <button>Enviar solicitud</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <div class="map_container">
              <img
                src="{% static 'images/pexels-helena-lopes-1938123.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end book section -->

    <!-- client section -->

    <section class="client_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
          <h2>Nuestros visitantes</h2>
        </div>
        <div class="carousel-wrap row">
          <div class="owl-carousel client_owl-carousel">
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>Moana Michell</h6>
                  <p>magna aliqua</p>
                </div>
                <div class="img-box">
                  <img
                    src="{% static 'images/default.png'%}"
                    alt=""
                    class="box-img"
                  />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>Mike Hamell</h6>
                  <p>magna aliqua</p>
                </div>
                <div class="img-box">
                  <img
                    src="{% static 'images/default.png'%}"
                    alt=""
                    class="box-img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
    <!-- end client section -->
