
{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- end header section -->
  </div>

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h1>
        Todas nuestras mascotas
        </h1>
        <button class="btn btn-success heading_center heading_container">Solicitar refugio para un caso <i class="bi bi-hand-thumbs-up-fill"></i></button>

      </div>
      <div class="filters-content container">
        <table id="mascotasTable" class="display w-100 table">
          <thead>
              <tr>
                  <th>Imagen</th>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Especie</th>
                  <th>Edad</th>
                  <th>Descripción</th>
                  <th>Disponible</th>
                  <th>Color</th>
                  <th>Tamaño</th>
                  <th>Género</th>
                  <th>Likes</th>
              </tr>
          </thead>
          <tbody>
              <!-- Los datos se cargarán aquí -->
          </tbody>
      </table>
      </div>
  <script>


      var table = $('table.display').DataTable({
          ajax:'/api/mascotas-datatables',
          responsive:true,

          columns: [
            {
              data: 'imagen',
              render: function(data, type, row, meta) {
                  return '<img src="' + row.imagen + '" alt="Imagen de mascota" style="cursor: pointer;"width="60" height="50" class="img-fluid rounded-circle" onclick="mostrarImagen(\'' + row.imagen + '\')">';
              }
          }
          ,
              {
                data: 'codigo',
                render: function(data, type, row, meta) {
                    return '<button class="btn btn-secondary btn-copy btn-sm" data-codigo="' + row.codigo + '">'+row.codigo+'</button>';
                }
            }
            ,
              { data: 'nombre' },
              { data: 'especie' },
              { data: 'edad' },
              { data: 'descripcion' },
              {
                data: 'disponible',
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="badge badge-success">Disponible</span>';
                    } else {
                        return '<span class="badge badge-danger">No Disponible</span>';
                    }
                }
            },
              { data: 'color' },
              { data: 'tamano' },
              { data: 'genero' },
              { 
                  data: 'likes',
                  render: function(data, type, row, meta) {
                      return `<button onclick="likeMascota('${row.id}')" type="button" class="btn btn-danger text-white position-relative">
                        <i class="bi bi-suit-heart-fill"></i>
                        <span id='like-${row.id}' class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary text-white">
                          ${data}
                        </span>
                    </button>`;
                  }
              }
          ]
      });
  
    
  // Agrega este código después de inicializar la tabla DataTable
  $('table.display').on('click', '.btn-copy', function() {
    var codigo = $(this).data('codigo');

    var tempInput = document.createElement('input');
    tempInput.value = codigo;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);

    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '¡Código copiado!',
        showConfirmButton: false,
        timer: 1500
    });
});
function mostrarImagen(url) {
  Swal.fire({
      imageUrl: url,
      imageWidth: 400,
      imageHeight: 300,
      imageAlt: 'Imagen de mascota',
      showCloseButton: true,
      confirmButtonText: 'Cerrar'
  });
}


  </script>
    </div>
  </section>
  {% endblock %}
  <!-- end client section -->
